.DS_Store
node_modules/
Example/
example/
npm-debug.log
test/
__tests__/
coverage/
.gitignore
.npmignore
.prettierignore
.prettierrc.js
.eslintrc.js
babel.config.js
jest.config.ts
.github/
tsconfig.json
assets/