# directories
node_modules/
example/
__tests__/
coverage/
.github/
screenshots/
assets/
.vscode/

# files
.DS_Store
npm-debug.log
.gitignore
.npmignore
.prettierignore
.prettierrc.js
.eslintignore
.eslintrc.js
babel.config.js
jest.config.js
tsconfig.json
.yarnrc.yml

# Yarn
example/.yarn/*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions