__tests__/
.github/
.yarn/
assets/
coverage/
example/
node_modules/
.DS_Store
.gitignore
.npmignore
.prettierignore
.yarnrc.yml
babel.config.mjs
eslint.config.mjs
jest.config.mjs
npm-debug.log
prettier.config.mjs
tsconfig.json
yarn.lock